archiso/out

shared/gcc8/pkg
shared/gcc8/src
shared/gcc8/*.tar.xz
shared/gcc8/*.tar.zst

shared/gcc9/pkg
shared/gcc9/src
shared/gcc9/*.tar.xz
shared/gcc9/*.tar.zst

shared/gcc10/pkg
shared/gcc10/src
shared/gcc10/*.tar.xz
shared/gcc10/*.tar.zst

shared/gcc11/pkg
shared/gcc11/src
shared/gcc11/*.tar.xz
shared/gcc11/*.tar.zst
